body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #fff;
}
:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --hero: #fff;
  --buttonHero: #4d5ae5;
  --cloud: #f4f4fd;
}
.link {
    color: #2e2f42;
    text-decoration: none; 
}
.Logotip {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none; 
}
.Logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none; 
}
.list {
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.navi {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none; 
    list-style: none;
    color: #2e2f42;
}
.li2s {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.li3s {
    background-color: #FFFFFF;
}
.hh-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.address {
    font-style: normal; 
}
.list:hover,
.list:focus {
    color: #404bbf;
}
.hero {
    background-color: #2e2f42;
}
.heroh1 {
    font-size: 56px; 
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.bhero {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}
.bHero:hover,
.bHero:focus {
    background-color: #404BBF;
    cursor: pointer;
}
.Sec3 {
    background-color: #F4F4FD;
}
.advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.wedoing {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.footer {
    background-color: #2e2f42;
}
.btns {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}
.btns:hover,
.btns:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}
